html,
body {
  overflow: hidden;
  height: 100vh;
}

.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  background-color: lightgreen;
  height: calc(100vh - 3rem);
  overflow-y: scroll;
  padding: 2rem;
}

.inputBox {
  width: 100%;
}

.user {
  display: flex;
  justify-content: center;
  padding: 0.4rem;
  margin-top: 1rem;
  background-color: green;
  color: white;
}
